<form class="example-form" dir="rtl" class="right">
  <p>
    {{user.FirstName}}
  </p>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="ת.ז" [value]="user.IdentityNumber" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="שם פרטי" [value]="user.FirstName" required>
  </mat-form-field>
  <br/>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="משפחה" [value]="user.LastName" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="מס' כונן" [value]="user.DriveCode" required>
  </mat-form-field>
  <br/>
  
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="מספר כונן" [value]="user.LicenseNumber" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="מספר טלפון" [value]="user.MobilePhone" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="הרשאות" [value]="user.permissions.value" required>
  </mat-form-field>
  <br/>

<button mat-button>שמור</button>

</form>