<div>
  <mat-progress-bar class="example-margin" *ngIf="loading" color="primary" mode="indeterminate">
  </mat-progress-bar>
</div>
<div class="inline card">
  <button mat-raised-button color="primary" (click)="uploadFile()" matTooltip="העלה קובץ בפורמט אקסל">
    <mat-icon>file_upload</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="openDialog()" matTooltip="הוסף מתנדב" *ngIf="checkManagerPermissions()">
    <mat-icon aria-label="הוסף משתמש">add</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="openDialog(selection.selected[0])" *ngIf="checkManagerPermissions()"
    [disabled]="selection.selected.length == 0 ||selection.selected.length > 1">
    <mat-icon matTooltip="ערוך מתנדב">create</mat-icon>
  </button>
  <button mat-raised-button color="warn" (click)="deleteMultiUsers(selection.selected)" [disabled]="selection.selected.length == 0"
    matTooltip="מחק מתנדב">
    <mat-icon>delete</mat-icon>
  </button>
  <input id="fileToUpload" type="file" (change)="incomingfile($event)" style="display:none;" onclick="this.value=null"
    accept=".xlsx" multiple>
</div>
<div style="padding-left: 15%;padding-right: 15%;padding-top: 5%;">
  <!-- <input type="file" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx"> -->
  <mat-form-field style="width: 100%">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש מתנדב">
  </mat-form-field>


  <table mat-table [dataSource]="users" matSort style="opacity: 0.9;">


    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let element;index as i;"> {{i +1}} </td>
    </ng-container>
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>שם פרטי </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>משפחה</th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>
    <ng-container matColumnDef="DriveCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מס' כונן </th>
      <td mat-cell *matCellDef="let element"> {{element.DriveCode}} </td>
    </ng-container>
    <ng-container matColumnDef="DispatcherCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מס' מוקדן </th>
      <td mat-cell *matCellDef="let element"> {{element.DispatcherCode}} </td>
    </ng-container>
    <ng-container matColumnDef="MobilePhone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> פלאפון </th>
      <td mat-cell *matCellDef="let element"> {{element.MobilePhone}} </td>
    </ng-container>
    <ng-container matColumnDef="LastSeen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> נראה לאחרונה </th>
      <td mat-cell *matCellDef="let element"> {{element.LastSeen|date:' HH:mm dd/MM/yy' }} </td>
    </ng-container>
    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> עיר </th>
      <td mat-cell *matCellDef="let element"> {{element.City}} </td>
    </ng-container>
    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> איזור </th>
      <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
    </ng-container>
    <ng-container matColumnDef="Permissions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> הרשאות </th>
      <td mat-cell *matCellDef="let element"> {{element.permissions}} </td>
    </ng-container>
    <ng-container matColumnDef="Settings">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">
        <button mat-mini-fab type="primary" onclick="document.getElementById('fileToUpload').click()" matTooltip="העלה קובץ בפורמט אקסל">
          <mat-icon>file_upload</mat-icon>
        </button>

        <button mat-mini-fab color="primary" *ngIf="checkManagerPermissions()">
          <mat-icon aria-label="הוסף משתמש" (click)="openDialog()" matTooltip="הוסף מתנדב">add</mat-icon>
        </button>
      </th>
      <!-- 
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button *ngIf="checkManagerPermissions()">
          <mat-icon (click)="openDialog(row)" matTooltip="ערוך מתנדב">create</mat-icon>
        </button>
        <button mat-icon-button *ngIf="checkManagerPermissions()">
          <mat-icon (click)="deleteUser(row)" matTooltip="מחק מתנדב">delete</mat-icon>
        </button>
      </td> -->
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDialog(row)" style="text-align: center"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>


</div>

<ng-template #myDialog style="direction: rtl">
  <h2 matDialogTitle style="text-align:right">העלאת משתמשים</h2>
  <mat-dialog-content style="direction: rtl">
    <p style="text-align:right">העלאת המשתמשים בוצעה בהצלחה!</p>
    <h1 style="text-align: center">{{this.xlsxUsers.length}}</h1>
    <h3 style="text-align:center">משתמשים נוספו בהצלחה!</h3>
    <ul>
      <li *ngFor="let user of xlsxUsers; let i = index" style="text-align:right">
        {{user.FirstName}} {{user.LastName}}, מס' כונן - {{user.DriveCode}}
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary">אוקיי</button>
  </mat-dialog-actions>
</ng-template>