<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >

    <span class="">
      <img src="../../../../assets/images/startach.png" style="max-width: 80px">
    </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="col-md-0">
        
        <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        שלום ל{{user.FirstName}}
      </div>
      <div class="offset-md-5 col-md-1">
        <strong>ידידים | סטארטאח</strong>
      </div>
      <div class="offset-md-4 col-md-1 ">
        <img src="../../../../assets/images/startach.png" style="max-width: 70px">
      </div>
    </mat-toolbar>
    <span>
    </span>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>