.mat-header-cell{
    text-align: center;
}

table{
    width: 80%;

    margin: auto;
}
.center {
    margin: auto;
    width: 100%;
    text-align: center;
    background-color:skyblue ;
    direction: rtl
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  